<%= form_with(model: static_pages_controller) do |form| %>
  <% if static_pages_controller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(static_pages_controller.errors.count, "error") %> prohibited this static_pages_controller from being saved:</h2>

      <ul>
        <% static_pages_controller.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
