<h1>Editing Static Pages Controller</h1>

<%= render 'form', static_pages_controller: @static_pages_controller %>

<%= link_to 'Show', @static_pages_controller %> |
<%= link_to 'Back', static_pages_controllers_path %>
